<div class="explaboral"> 
<p class="txtblanco">Experiencia Laboral</p> 
<dl> 
 <dt class="txtblanco nom">
   Nombre Empresa 
 </dt> 
 <dd class="desc">
   datos empresa 
 </dd> 
 <dt class="txtblanco nom">
   Nombre Empresa 
 </dt> 
 <dd class="desc">
   datos empresa 
 </dd> 
</dl> 
</div>
<div class="estudios"> 
<p class="txtblanco">Estudios</p> 
<dl> 
 <dt class="txtblanco nom">
   Institución 
 </dt> 
 <dd class="desc">
   descripción institución 
 </dd> 
 <dt class="txtblanco nom">
   Institución 
 </dt> 
 <dd class="desc">
   descripción institución 
 </dd> 
</dl> 
</div>