* {
  font-family: 'Times New Roman', serif;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

p {
  color: black;
  font-weight: bold;
}

.principal {
  position: fixed;
  top: 50px;
  left: 27%;
  height: 600px;
  width: 450px;
  background-image: linear-gradient(45deg, #d0d3d4, gray);
  border: 3px solid white;
}

.principal > p {
  font-size: 36px;
  text-align: center;

  position: absolute;
  margin-top: 50px;
  margin-left: 80px;
}

div.principal > div.username {
  position: absolute;
  background-color: gray;
  margin-left: 20px;
  margin-top: 200px;
  width: 400px;
  height: 55px;
  border: 2px solid black;
}

div.username > p {
  position: absolute;
  margin-top: -40px;
  font-size: 20px;
}

div.principal > div.clave {
  position: absolute;
  background-color: gray;
  margin-left: 20px;
  margin-top: 360px;
  width: 400px;
  height: 55px;
  border: 2px solid black;
}

div.clave > p {
  position: absolute;
  margin-top: -40px;
  font-size: 20px;
}

div.principal > div.boton {
  background-image: linear-gradient(45deg, green, lime);
  position: absolute;
  margin-top: 500px;
  margin-left: 32%;
  border: 2px inset gray;
  width: 160px;
  height: 50px;
}

div.boton > p {
  text-align: center;
  font-size: 24px;
  position: absolute;
  margin-top: 10px;
  margin-left: 18%;
}
